{{yield}}

<div class="col-xs-4">
  <h1>{{game.name}}</h1><span class="label label-default">{{game.id}}</span>
  <div class="well">
    <div class="container">
      <span class="label label-info">{{game.developer}}</span>
    </div>
    <div class="container">
      <span class="label label-info">{{game.rating}}</span>
    </div>
  </div>
</div>
